          <header class="p-4">
            <div class="topnav">
              <a>Goodbye Zuk</a>
              <input type="text" placeholder="Search...">
              <a href="profile">Profile</a>
              
            </div>
          </header>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login101">
          <form class="login100-form validate-form" id="log-in-form"></form>

          <div class="topnav">
            <a>Mirage</a>
            <input type="text" placeholder="Search...">
            <a href="#profile">Profile</a>
            
          </div>

          <div class="content-div" id="content-container"> 
            {{#each posts as |post|}}
              <h5 style="margin-top: 20px;">{{post.user.first_name}}</h5>
              <img src="{{post.img_url}}" alt="">
              <h1 style="margin-bottom: 30px;"><a href="/project/{{post.id}}">{{post.description}} on {{format_date post.date_created}}</a></h1>
              <div>
                {{#if post.comments.length }}
                            <a class="comment-href" href="/api/comments/{{ post.id }}">
                                {{format_commentCount post.comments.length }}
                            </a>
                        {{else}}
                            {{format_commentCount post.comments.length }}
                        {{/if}}
              </div>
            {{/each}}
          </div>
          </div>
        </div>
      </div>
    </div>

   

     <!--===============================================================================================-->
     <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
     <!--===============================================================================================-->
     <script src="/vendor/animsition/js/animsition.min.js"></script>
     <!--===============================================================================================-->
     {{!-- <script src="/vendor/bootstrap/js/popper.js"></script>
     <script src="/vendor/bootstrap/js/bootstrap.min.js"></script> --}}
     <!--===============================================================================================-->
     <script src="/vendor/select2/select2.min.js"></script>
     <!--===============================================================================================-->
     <script src="/vendor/daterangepicker/moment.min.js"></script>
     <script src="/vendor/daterangepicker/daterangepicker.js"></script>
     <!--===============================================================================================-->
     <script src="/vendor/countdowntime/countdowntime.js"></script>
     <!--===============================================================================================-->
     <script src="/js/main.js"></script>