
    <header>
        <div class="topnav">
            <a href="../../newsfeed">Mirage</a>
            <form id="searchform" onsubmit="searchFunction(event)">
                <input id="searchInput" type="text" placeholder="Search...">
               
            </form>
         
                <a href="../../create-post">Add post</a>
                {{!-- <a href="../../profile">{{user.first_name}}</a> --}}
                <a href="../../logout">Logout</a>
            
        </div>
    </header>



   <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login101">

          <div class="content-div" id="content-container"> 
            <h2>{{first_name}} {{last_name}} Profile</h2>
            {{#each posts as |post|}}
            <div class="card" style="width: 30rem;">
              <img style="padding: 25px; height: 400; width: 400;" class="card-img-top" src="{{post.img_url}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{post.description}}</p>
                <button data-id="{{post.id}}" id="delete-btn" class="btn btn-danger">Delete</button>
                <a href="/update-post/{{post.id}}" class="btn btn-primary">Edit</a>
              </div>
            </div>
            {{/each}}
          </div>
            
          </div>
          
          </div>
        </div>
      </div>
    </div>
<script src="/js/profile.js"></script>
    